In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
df = pd.read_csv('C:\data\python\Recommendation-Cross Sales Org.csv')

In [10]:
df.fillna(0,inplace=True)
df.head()

  centre_no qualification_programme_no    2015    2016
0    001025                    8600-11   790.0   304.0
1    001025                    8600-21  1650.0   214.0
2    001025                    8600-22     0.0   255.0
3    001026                    E07G-02  1449.0   759.0
4    001036                    1016-02  1152.0  1269.0

In [11]:
df.loc[df['2015']==0,'%'] = df['2016']
df.loc[df['2015']!=0,'%'] = df['2016']/df['2015']
min = -0.25
for i in range(10):
    min = min + 0.2
    max = min + 0.2
    if i == 9:
        df.loc[(df['%']>=min),'rate'] = i
    else:
        df.loc[(df['%']>=min)&(df['%']<max),'rate'] = i
df['rate'] = df['rate'].astype(int)
df.count()

centre_no                     82712
qualification_programme_no    82712
2015                          82712
2016                          82712
%                             82712
rate                          82712
dtype: int64

In [12]:
min_no_ctr = 10
centre_qual_number = df.centre_no.value_counts()
df_main = df[df["centre_no"].isin(centre_qual_number[centre_qual_number>min_no_ctr].index)]
df_main.shape

(62043, 6)

In [13]:
min_no_qual = 10
qual_centre_number = df.qualification_programme_no.value_counts()
df_main = df_main[df_main["qualification_programme_no"].isin(qual_centre_number[qual_centre_number>min_no_qual].index)]
df_main.shape

(55738, 6)

In [14]:
df.head()

  centre_no qualification_programme_no    2015    2016           %  rate
0    001025                    8600-11   790.0   304.0    0.384810     2
1    001025                    8600-21  1650.0   214.0    0.129697     0
2    001025                    8600-22     0.0   255.0  255.000000     9
3    001026                    E07G-02  1449.0   759.0    0.523810     2
4    001036                    1016-02  1152.0  1269.0    1.101562     5

In [15]:
userRatings = df.pivot_table(index=['centre_no'],columns=['qualification_programme_no'],values='rate')
userRatings.head()

qualification_programme_no,0059-21,0059-22,0059-23,0059-24,0059-31,0059-33,0061-11,0065-11,0065-21,0065-22,...,WB5/DIG/PL1,WB6,WB7,WB8,WB9,WBB10,WBB15,WBB5,WPUK0005,WPUK0094
centre_no,,,,,,,,,,,,,,,,,,,,,
001010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001036A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
userRatings.shape

(7487, 5428)

In [17]:
corrMatrix = userRatings.corr(method='pearson', min_periods=10)
corrMatrix.head()

qualification_programme_no,0059-21,0059-22,0059-23,0059-24,0059-31,0059-33,0061-11,0065-11,0065-21,0065-22,...,WB5/DIG/PL1,WB6,WB7,WB8,WB9,WBB10,WBB15,WBB5,WPUK0005,WPUK0094
qualification_programme_no,,,,,,,,,,,,,,,,,,,,,
0059-21,1.000000,NaN,0.245315,NaN,0.491125,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0059-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0059-23,0.245315,NaN,1.000000,NaN,0.333094,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0059-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0059-31,0.491125,NaN,0.333094,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
userCorrMatrix = userRatings.transpose().corr(method='pearson', min_periods=10)
userCorrMatrix.head()

centre_no,001010,001025,001026,001036,001036A,001036B,001036C,001036D,001036M,001036T,...,WETHERS,WEWORK,WHITBRE,WILLIAM,WILMING,WIPO,WORLDPA,XEROX1,XEROXCO,YORKSHW
centre_no,,,,,,,,,,,,,,,,,,,,,
001010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001036,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001036A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
userCorrMatrix.to_csv('C:\\data\\python\\usercorrMatrix01.csv')
#corrMatrix.to_csv('C:\Python\Recommendation\Item_CF\corrMatrix01.csv',sep=',')

In [22]:
myRatings = userRatings.loc['001036'].dropna()
myRatings.head()

qualification_programme_no
1016-02    5.0
3296-02    7.0
3605-03    3.0
3748-01    9.0
3748-02    9.0
Name: 001036, dtype: float64

In [23]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print ("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar movies to this one that I rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this movie
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
print ("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates.head(10))

Adding sims for 1016-02...
Adding sims for 3296-02...
Adding sims for 3605-03...
Adding sims for 3748-01...
Adding sims for 3748-02...
Adding sims for 3803-01...
Adding sims for 4222-21...
Adding sims for 4222-31...
Adding sims for 4227-01...
Adding sims for 4227-91...
Adding sims for 4229-02...
Adding sims for 4229-03...
Adding sims for 4233-20...
Adding sims for 4430-01...
Adding sims for 4430-02...
Adding sims for 4692-02...
Adding sims for 4710-04...
Adding sims for 4964-03...
Adding sims for 4964-92...
Adding sims for 5329-20...
Adding sims for 5329-21...
Adding sims for 5329-33...
Adding sims for 5528-04...
Adding sims for 6317-33...
Adding sims for 6317-41...
Adding sims for 6801-01...
Adding sims for 6801-04...
Adding sims for 7091-32...
Adding sims for 7132-02...
Adding sims for 7132-06...
Adding sims for 7132-09...
Adding sims for 7132-14...
Adding sims for 7648-02...
Adding sims for 7711-02...
Adding sims for 7711-03...
Adding sims for 7712-02...
Adding sims for 7712-04...
Adding sims for 7734-02...
Adding sims for 7734-03...
Adding sims for HSCDIG0_10...
Adding sims for SS3605-03...
Adding sims for SS6317301...
Adding sims for SSEB3605-LV3...
sorting...
7711-03      9.0
6801-04      9.0
6317-33      9.0
4964-03      9.0
7132-02      9.0
3748-01      9.0
4222-21      9.0
7132-14      9.0
SS6317301    9.0
7734-02      9.0
dtype: float64

In [24]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [25]:
simCandidates.sort_values(inplace = True, ascending = False)
#simCandidates.head(10)
simCandidates.shape

(827,)

In [26]:
myRatings.index

Index(['1016-02', '3296-02', '3605-03', '3748-01', '3748-02', '3803-01',
       '4222-21', '4222-31', '4227-01', '4227-91', '4229-02', '4229-03',
       '4233-20', '4430-01', '4430-02', '4692-02', '4710-04', '4964-03',
       '4964-92', '5329-20', '5329-21', '5329-33', '5528-04', '6317-33',
       '6317-41', '6801-01', '6801-04', '7091-32', '7132-02', '7132-06',
       '7132-09', '7132-14', '7648-02', '7711-02', '7711-03', '7712-02',
       '7712-04', '7734-02', '7734-03', 'HSCDIG0_10', 'SS3605-03', 'SS6317301',
       'SSEB3605-LV3'],
      dtype='object', name='qualification_programme_no')

In [27]:
filteredSims = simCandidates.drop(myRatings.index,errors='ignore')
filteredSims.head(10)

7574-03    49.752415
7132-05    47.844907
7132-08    44.890561
3748-03    43.095328
7384-21    40.954533
6570-02    37.655394
5530-03    37.100195
4411-33    36.710262
6317-32    35.281896
4340-31    33.970653
dtype: float64

In [28]:
result_all = pd.DataFrame()
for c in range(0,len(userRatings)):
#for c in range(0,30):
    myRatings = userRatings.iloc[c].dropna()
    simCandidates = pd.Series()
    for i in range(0, len(myRatings.index)):
    #print ("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar movies to this one that I rated
        sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this movie
        sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
        simCandidates = simCandidates.append(sims)
#Glance at our results so far:
#print ("sorting...")
#simCandidates.sort_values(inplace = True, ascending = False)
#print (simCandidates.head(10))

    simCandidates = simCandidates.groupby(simCandidates.index).sum()
    simCandidates.sort_values(inplace = True, ascending = False)
    filteredSims = simCandidates.drop(myRatings.index,errors='ignore')
    filteredSims = filteredSims.head(20)

#pd.DataFrame({'Qual':filteredSims.index, 'Values':filteredSims.values}).transpose()
    result = pd.DataFrame({userRatings.index[c]:filteredSims.index}).transpose()
#userRatings.index[0]
#filteredSims.index
    result_all = result_all.append(result)

In [29]:
result_all.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
001010,3847-23,3007-56,3008-52,3008-55,3268-02,3268-10,3268-12,3268-13,3296-02,3748-01,3748-02,3748-03,3847-03,4222-21,3003-93,4222-31,4229-02,4229-03,4233-20,4692-01
001025,8580-21,8000-11,8607-21,8607-31,8577-11,8607-11,6708-13,7132-14,SS6666-ALL,8600-31,2850-22,4475-02,7648-02,6711-23,4692-01,8580-31,8600-13,4520-03,6705-50,SS6035-02
001026,TL026008-03,TL023003,6008-02,5530-03,5530-02,5528-03,5528-02,3748-03,3748-02,3748-01,3003-63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001036,7574-03,7132-05,7132-08,3748-03,7384-21,6570-02,5530-03,4411-33,6317-32,4340-31,4835-03,9873-03,5528-02,7091-33,7250-02,4835-02,5938-01,7108-12,9735-02,3565-21
001036A,3565-21,3003-47,7517-02,9735-04,7657-21,3565-31,4835-02,4428-01,9735-02,4955-23,0071-34,0748-20,3003-23,3692-11,4255-02,0067-33,3768-01,3172-21,4411-11,6129-22

In [30]:
result_all.to_csv('C:\\data\\python\\Item_CF01.csv',sep=',')